.header{
    max-width: 1280px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo{
        h2{
            font-size: 32px;
            font-weight: bolder;
            padding-left: 10px;
        }
    }

    .links{
        list-style: none;
        display: flex;
        align-items: center;
        height: 24px;
        .link-item{           
            .link-icon{
                margin: 6px;
                height: 32px;
            }

        }
    }
}