
.main{
    width: 100vs;
    height: 100%;
    background-color: rgba(243,243,243);
    text-align: center;
    .main_container{
        max-width: 1280px;
        margin: 0 auto;
        
        .home_hero{
            padding: 80px 20px 30px 20px;    
            .title-juan{
                .name{
                    @include primary-title
                }
            }
            .description{
                font-size: 1rem;
                text-align: justify;
                padding: 10px 0;
            }  
            .underline_container{
                display: flex;
                justify-content: center;
                .underline{
                    @include title-underline
                }
            }
            
        }

        .about{
            padding-bottom: 30px;
            .about_container{
                .about_title{
                    h2{
                        @include secondary-title
                    }
                    .underline_container{
                        @include underline-container;
                        .underline{
                            @include title-underline
                        }
                    }
                    
                }
                .about_description{
                    .main_text{
                        padding: 10px 20px;
                        text-align: left;
                        
                    }
                }
                .about_skills-container{
                    padding: 10px 20px;
                    h2{
                        @include secondary-title;
            
                    }
                    .underline_container{
                        @include underline-container;
                        .underline{
                            @include title-underline
                        }
                    }
                    .skills_list{
                        display: flex;
                        flex-wrap: wrap;
                        padding-top: 20px;
                        .skill_item{
                            font-size: 16px;
                            background-color: coral;
                            color: white;
                            padding: 5px 8px;
                            border-radius: 3px;
                            margin: 4px;
                        }
                    }

                }
            }
        }

        .projects{
            padding: 20px 0;
            .title_projects{
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                justify-content: center;
                margin: 40px 0;
                h2, p{
                    margin: 0;
                }
                .title{
                    @include primary-title;
                    margin-bottom: 30px;
                    
                }
            } 
           .projects_container{
                list-style: none;
                padding: 0;
                .proyect_row{
                    margin: 50px 0;
                    .proyect_row-img{                      
                        height: 200px;
                        width: 300px;
                        background-color: darkslateblue;
                        margin: 20px auto
                    }
                    .proyect_row-link{
                        text-decoration: none;
                        @include secondary-title;
                        :hover{
                            
                        }

                    }
                    .proyect_row-desc{
                        margin-top:20px ;
                    }
                }

            }
        }
        .contact{          
            padding: 30px;         
            .contact_hero{
                h2{
                    @include primary-title;
                    margin-bottom: 30px;
                }
            }
            .contact-container{
                text-align: left;
                font-family: 'Inter', sans-serif;
                font-weight: 200;
                .contact_item{
                    font-size: 14px;
                    
                    color: black;
                    .contact-link{

                        color: black;
                        font-weight: bolder;
                    }
                    
                }
            }
            .contact_form-container{       
                display: none;
                background-color: white;
                
                border-radius: 5px;
                padding: 0 30px;
                .contact_form{
                    .contact_form-field{
                        display: flex;
                        flex-direction: column;
                        margin: 0 auto;
                        .contact_form-label{
                            text-align: start;
                            margin-top: 20px;
                        }
                        .contact_form-input{
                            height: 42px;
                            border: none;
                            border-radius: 5px;
                            margin-top: 8px;
                            background-color:rgb(235, 235, 235);
                        }
                        .textarea{                        
                            border: none;
                            border-radius: 5px;
                            margin-top: 10px;
                            background-color:rgb(235, 235, 235);
                        }
                                
                    }
                    .btn_contact{
                        width: 100%;
                        height: 50px;
                        margin: 30px 0;
                        border: none;
                        border-radius: 5px;
                        background-color: coral;
                        color: white;
                        font-size: 16px;
                        font-weight: bolder;
                    }
                }
            }
        }
    }
}