//Common
$color-1:#23295a;
$background-color-1:  #172a38;
$background-color-2:  #0e1b24;

//Medidas
@mixin primary-title(){
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 0;
}

@mixin secondary-title(){
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: black;
    margin: 0;
}

@mixin thirth-title(){
    font-family: 'Inter', sans-serif;
    font-size: 12px;             
    text-transform: uppercase;
    letter-spacing: 2.5px;
}

@mixin underline-container(){
    padding-top: 5px;
    display: flex;
    justify-content: center;
}

@mixin title-underline(){
    height: 5px;
    width: 40px;
    background-color: coral;
    border-radius: 2.5px;
}

