//Common
$color-1:#23295a;
$background-color-1:  #172a38;
$background-color-2:  #0e1b24;

//Medidas
@mixin primary-title(){
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 0;
}

@mixin secondary-title(){
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: black;
    margin: 0;
}

@mixin barras(){
    width: 100wv;
    height: 80px;
    background-color: $color-1;  
}

@mixin space-arround(){
    display: flex;
    justify-content: space-around;    
    align-items: center;
    height: 100%;
}

//Font
@mixin big-font-1(){
    font-size: 32px;
    color: white;
    font-weight: bolder;
}




